# Escritura hacia base de datos MySQL

Necesitamos instalar el paquete: `install.packages('RMySQL')`

In [1]:
#install.packages('RMySQL')

In [2]:
# Importamos la librería "RMySQL"
library(RMySQL)

Loading required package: DBI

### Cargamos datos que escribiremos en la base de datos

In [3]:
df1 <- read.csv(file = 'data/tabla_alumnos.csv')
head(df1)

  id nombre   apellido   email                   colegiatura
1 1  Wanda    Billington wbillington0@nsw.gov.au 5000
2 2  Blayne   Wakeley    bwakeley1@google.cn     2500
3 3  Hilde    Matiewe    hmatiewe2@hibu.com      2300
4 4  Leanna   NA         ldusey3@ebay.co.uk      2000
5 5  Maire    Garnall    mgarnall4@artisteer.com 4800
6 6  Nikolaus Freeborn   nfreeborn5@yandex.ru    2000
  fecha_incorporacion carrera_id tutor_id
1 2020-05-17 22:49:29 23          9
2 2018-09-01 17:51:49 40         26
3 2020-07-18 00:03:21 48         25
4 2018-02-05 17:28:38 36         14
5 2020-08-04 03:43:57 14          7
6 2019-06-05 07:45:19 28         13

In [4]:
colnames(df1)

[1] "id"                  "nombre"              "apellido"
[4] "email"               "colegiatura"         "fecha_incorporacion"
[7] "carrera_id"          "tutor_id"

In [5]:
colnames(df1) <- c('alumno_id','nombre','apellido','email','colegiatura','fecha_incorporacion','carrera_id','tutor_id')
head(df1)

  alumno_id nombre   apellido   email                   colegiatura
1 1         Wanda    Billington wbillington0@nsw.gov.au 5000
2 2         Blayne   Wakeley    bwakeley1@google.cn     2500
3 3         Hilde    Matiewe    hmatiewe2@hibu.com      2300
4 4         Leanna   NA         ldusey3@ebay.co.uk      2000
5 5         Maire    Garnall    mgarnall4@artisteer.com 4800
6 6         Nikolaus Freeborn   nfreeborn5@yandex.ru    2000
  fecha_incorporacion carrera_id tutor_id
1 2020-05-17 22:49:29 23          9
2 2018-09-01 17:51:49 40         26
3 2020-07-18 00:03:21 48         25
4 2018-02-05 17:28:38 36         14
5 2020-08-04 03:43:57 14          7
6 2019-06-05 07:45:19 28         13

In [6]:
df2 <- read.csv(file = 'data/tabla_carreras.csv')
head(df2)

  id carrera
1 1  Negocios y administración
2 2  Administración y gestión de empresas
3 3  Contabilidad y fiscalización
4 4  Finanzas, banca y seguros
5 5  Mercadotecnia y publicidad
6 6  Negocios y administración, programas multidisciplinarios o generales
  fecha_alta          vigente
1 2017-05-28 06:42:45 1
2 2016-03-24 13:52:17 0
3 2018-10-29 18:33:57 1
4 2020-05-11 02:05:57 0
5 2020-03-20 23:53:23 0
6 2019-02-25 09:02:59 1

In [7]:
colnames(df2)

[1] "id"         "carrera"    "fecha_alta" "vigente"

In [8]:
colnames(df2) <- c('carrera_id','carrera','fecha_alta','vigente')
head(df2)

  carrera_id
1 1
2 2
3 3
4 4
5 5
6 6
  carrera
1 Negocios y administración
2 Administración y gestión de empresas
3 Contabilidad y fiscalización
4 Finanzas, banca y seguros
5 Mercadotecnia y publicidad
6 Negocios y administración, programas multidisciplinarios o generales
  fecha_alta          vigente
1 2017-05-28 06:42:45 1
2 2016-03-24 13:52:17 0
3 2018-10-29 18:33:57 1
4 2020-05-11 02:05:57 0
5 2020-03-20 23:53:23 0
6 2019-02-25 09:02:59 1

In [9]:
class(df2)

[1] "data.frame"

In [10]:
str(df2)

'data.frame':	60 obs. of  4 variables:
 $ carrera_id: int  1 2 3 4 5 6 7 8 9 10 ...
 $ carrera   : chr  "Negocios y administración" "Administración y gestión de empresas" "Contabilidad y fiscalización" "Finanzas, banca y seguros" ...
 $ fecha_alta: chr  "2017-05-28 06:42:45" "2016-03-24 13:52:17" "2018-10-29 18:33:57" "2020-05-11 02:05:57" ...
 $ vigente   : int  1 0 1 0 0 1 1 1 1 0 ...

### Hacemos un JOIN entre las dos tablas

In [11]:
df3 <- merge(x = df1, y = df2, by = c("carrera_id"))
head(df3)

  carrera_id alumno_id nombre    apellido email
1 1          504       Geri      NA       gfetteplacedz@wufoo.com
2 1           83       Chloris   Markovic cmarkovic2a@etsy.com
3 1          724       Monroe    NA       mtremouletk3@list-manage.com
4 1          427       Zach      Seally   zseallybu@github.io
5 1          236       Michal    Thripp   mthripp6j@godaddy.com
6 1          625       Nickolaus NA       ngodlontonhc@fc2.com
  colegiatura fecha_incorporacion tutor_id carrera
1 2300        2018-11-02 09:16:18  8       Negocios y administración
2 4500        2018-06-21 02:41:39 29       Negocios y administración
3 2000        2017-10-20 08:46:36 26       Negocios y administración
4 2500        2019-10-17 04:59:27 30       Negocios y administración
5 2500        2017-10-10 09:50:47 20       Negocios y administración
6 5000        2020-08-09 11:06:20  2       Negocios y administración
  fecha_alta          vigente
1 2017-05-28 06:42:45 1
2 2017-05-28 06:42:45 1
3 2017-05-28 06:42:45 1
4 2017-05-28 06:42:45 1
5 2017-05-28 06:42:45 1
6 2017-05-28 06:42:45 1

### Ordenamos datos con respecto a varios campos

In [12]:
selected_cols <- c('alumno_id','nombre','apellido','email','colegiatura','fecha_incorporacion','carrera','vigente')

In [13]:
# Seleccionamos los registros de alumnos vigentes cuya colgiatura está en un rango alto:
df_top <- df3[ (4900 <= df3$colegiatura) & (df3$colegiatura <= 6000) & (df3$vigente == 1), ][selected_cols]
head(df_top)

   alumno_id nombre    apellido email                    colegiatura
6  625       Nickolaus NA       ngodlontonhc@fc2.com     5000
7  749       Aleksandr Millhill amillhillks@newsvine.com 5000
9  634       Merrick   Dunnet   mdunnethl@uiuc.edu       5000
14  37       Shaw      Harrill  sharrill10@princeton.edu 5000
37 893       Dulce     Drejer   ddrejeros@senate.gov     5000
44 577       Ced       Lodo     clodog0@mtv.com          5000
   fecha_incorporacion carrera                      vigente
6  2020-08-09 11:06:20 Negocios y administración    1
7  2019-06-18 20:42:38 Negocios y administración    1
9  2018-07-24 19:02:12 Negocios y administración    1
14 2018-06-07 08:25:26 Negocios y administración    1
37 2018-05-01 19:51:07 Contabilidad y fiscalización 1
44 2020-08-16 10:46:17 Contabilidad y fiscalización 1

In [14]:
# Ordenamos de forma descendente con respecto al campo "colegiatura" y después de forma ascendente con respecto al campo "apellido"

df_top <- df_top[ order(-df_top$colegiatura, df_top$apellido), ]
head(df_top)

    alumno_id nombre  apellido     email                        colegiatura
546  98       Pepito  Allison      pallison2p@psu.edu           5000
163  57       Lane    Antley       lantley1k@tamu.edu           5000
287 712       Ivie    Antonopoulos iantonopoulosjr@edublogs.org 5000
432   1       Wanda   Billington   wbillington0@nsw.gov.au      5000
648 736       Fayette Binden       fbindenkf@senate.gov         5000
439 774       Coletta Bolesworth   cbolesworthlh@gnu.org        5000
    fecha_incorporacion
546 2019-04-20 13:07:23
163 2018-02-24 22:37:18
287 2019-08-12 17:24:34
432 2020-05-17 22:49:29
648 2018-05-23 16:32:49
439 2019-08-18 00:05:40
    carrera                                                   vigente
546 Ingeniería mecánica y metalurgia                          1
163 Ciencias políticas                                        1
287 Derecho                                                   1
432 Ingeniería industrial, mecánica, electrónica y tecnología 1
648 Industria de la alimentación                              1
439 Ingeniería industrial, mecánica, electrónica y tecnología 1

In [15]:
dim(df1)

[1] 1000    8

In [16]:
dim(df1)[1]

[1] 1000

In [17]:
dim(df_top)[1]

[1] 72

In [18]:
p_alto <- dim(df_top)[1]/dim(df1)[1]*100

print( paste("El ",p_alto,"% de los alumnos son vigentes y pagan altas colegiatura",sep="") )

[1] "El 7.2% de los alumnos son vigentes y pagan altas colegiatura"

### Guardamos DataFrame en una tabla de MySQL

In [19]:
# Creamos la cadena de conexión:
db_conn <- dbConnect(MySQL(), user='root', host = 'localhost', password = 'Marcos27', dbname='platzi')
db_conn

In [20]:
#dbWriteTable(db_conn , value= df, name='TopCarreras')

#### Creamos una tabla

In [21]:
# extraemos la información del DataFrame para crear la tabla en MySQL:
str(df_top)

'data.frame':	72 obs. of  8 variables:
 $ alumno_id          : int  98 57 712 1 736 774 996 522 277 623 ...
 $ nombre             : chr  "Pepito" "Lane" "Ivie" "Wanda" ...
 $ apellido           : chr  "Allison" "Antley" "Antonopoulos" "Billington" ...
 $ email              : chr  "pallison2p@psu.edu" "lantley1k@tamu.edu" "iantonopoulosjr@edublogs.org" "wbillington0@nsw.gov.au" ...
 $ colegiatura        : int  5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 ...
 $ fecha_incorporacion: chr  "2019-04-20 13:07:23" "2018-02-24 22:37:18" "2019-08-12 17:24:34" "2020-05-17 22:49:29" ...
 $ carrera            : chr  "Ingeniería mecánica y metalurgia" "Ciencias políticas" "Derecho" "Ingeniería industrial, mecánica, electrónica y tecnología" ...
 $ vigente            : int  1 1 1 1 1 1 1 1 1 1 ...

In [22]:
query_crea_tabla <- "
CREATE TABLE IF NOT EXISTS platzi.TopAlumnos (
    alumno_id int,
    nombre varchar(100),
    apellido varchar(100),
    email varchar(100),
    colegiatura int,
    fecha_incorporacion varchar(200),
    carrera varchar(100),
    vigente int
    );
"

dbGetQuery(db_conn, statement = query_crea_tabla)

#### Insertamos los datos en la tabla

In [23]:
head(df_top)

    alumno_id nombre  apellido     email                        colegiatura
546  98       Pepito  Allison      pallison2p@psu.edu           5000
163  57       Lane    Antley       lantley1k@tamu.edu           5000
287 712       Ivie    Antonopoulos iantonopoulosjr@edublogs.org 5000
432   1       Wanda   Billington   wbillington0@nsw.gov.au      5000
648 736       Fayette Binden       fbindenkf@senate.gov         5000
439 774       Coletta Bolesworth   cbolesworthlh@gnu.org        5000
    fecha_incorporacion
546 2019-04-20 13:07:23
163 2018-02-24 22:37:18
287 2019-08-12 17:24:34
432 2020-05-17 22:49:29
648 2018-05-23 16:32:49
439 2019-08-18 00:05:40
    carrera                                                   vigente
546 Ingeniería mecánica y metalurgia                          1
163 Ciencias políticas                                        1
287 Derecho                                                   1
432 Ingeniería industrial, mecánica, electrónica y tecnología 1
648 Industria de la alimentación                              1
439 Ingeniería industrial, mecánica, electrónica y tecnología 1

In [24]:
query_insert_data <- "
INSERT INTO platzi.TopAlumnos VALUES(
    98,
    'Pepito',
    'Allison',
    'pallison2p@psu.edu',
    5000,
    '2019-04-20 13:07:23',
    'Ingeniería mecánica y metalurgia',
    1
    );
"
dbGetQuery(db_conn, statement = query_insert_data)

In [25]:
# Ejemplo For Loop:
for(i in 1:10){
    x1 <- i^2
    print(x1)
    }

[1] 1
[1] 4
[1] 9
[1] 16
[1] 25
[1] 36
[1] 49
[1] 64
[1] 81
[1] 100

In [26]:
# Truncamos tabla:
dbGetQuery(db_conn, statement = "TRUNCATE TABLE platzi.TopAlumnos;")

In [27]:
n_rows <- dim(df_top)[1]
n_rows

[1] 72

In [28]:
for(i in 1:n_rows){
    query_insert_data <- paste(
        "INSERT INTO platzi.TopAlumnos VALUES(",
        df_top[i,1],
        ",'",
        df_top[i,2],
        "','",
        df_top[i,3],
        "','",
        df_top[i,4],
        "',",
        df_top[i,5],
        ",'",
        df_top[i,6],
        "','",
        df_top[i,7],
        "',",
        df_top[i,8],
        ");"
        ,sep="")

    print(query_insert_data)
    dbGetQuery(db_conn, statement = query_insert_data)
}

[1] "INSERT INTO platzi.TopAlumnos VALUES(98,'Pepito','Allison','pallison2p@psu.edu',5000,'2019-04-20 13:07:23','Ingeniería mecánica y metalurgia',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(57,'Lane','Antley','lantley1k@tamu.edu',5000,'2018-02-24 22:37:18','Ciencias políticas',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(712,'Ivie','Antonopoulos','iantonopoulosjr@edublogs.org',5000,'2019-08-12 17:24:34','Derecho',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(1,'Wanda','Billington','wbillington0@nsw.gov.au',5000,'2020-05-17 22:49:29','Ingeniería industrial, mecánica, electrónica y tecnología',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(736,'Fayette','Binden','fbindenkf@senate.gov',5000,'2018-05-23 16:32:49','Industria de la alimentación',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(774,'Coletta','Bolesworth','cbolesworthlh@gnu.org',5000,'2019-08-18 00:05:40','Ingeniería industrial, mecánica, electrónica y tecnología',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(996,'Lilla','Boullen','lboullenrn@europa.eu',5000,'2018-07-18 17:53:39','Derecho',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(522,'Alis','Bromehed','abromehedeh@bloglovin.com',5000,'2018-02-03 16:19:58','Trabajo y atención social',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(277,'Avigdor','Bromidge','abromidge7o@ihg.com',5000,'2019-01-26 17:08:30','Tecnologías de la información y comunicación',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(623,'Lyndell','Capewell','lcapewellha@desdev.cn',5000,'2018-08-30 17:41:58','Criminología',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(18,'Franklyn','China','fchinah@netvibes.com',5000,'2018-08-18 00:58:48','Ciencias de la información',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(887,'Inesita','Coddington','icoddingtonom@pcworld.com',5000,'2020-03-21 00:48:45','Educación',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(379,'Crawford','Creamer','ccreamerai@nba.com',5000,'2018-07-31 09:47:09','Criminología',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(896,'Zilvia','Daniells','zdaniellsov@unc.edu',5000,'2019-05-06 19:18:38','Ciencias sociales y estudios del comportamiento',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(147,'Albertine','de Keyser','adekeyser42@i2i.jp',5000,'2018-05-01 03:52:43','Ciencias de la educación, programas multidisciplinarios o generales',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(639,'Merrill','Delacroux','mdelacrouxhq@hhs.gov',5000,'2018-09-02 01:05:03','Minería y extracción',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(811,'Weber','Derye-Barrett','wderyebarrettmi@lulu.com',5000,'2019-01-26 19:31:48','Ciencias de la educación, programas multidisciplinarios o generales',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(19,'Shir','Dionisetto','sdionisettoi@google.com',5000,'2019-05-31 04:49:29','Minería y extracción',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(314,'Nate','Donnell','ndonnell8p@reuters.com',5000,'2019-11-06 16:40:36','Formación docente para otros servicios educativos',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(893,'Dulce','Drejer','ddrejeros@senate.gov',5000,'2018-05-01 19:51:07','Contabilidad y fiscalización',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(634,'Merrick','Dunnet','mdunnethl@uiuc.edu',5000,'2018-07-24 19:02:12','Negocios y administración',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(312,'Hendrik','Ekins','hekins8n@huffingtonpost.com',5000,'2020-05-07 12:41:49','Manufacturas y procesos, programas multidisciplinarios o generales',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(452,'Koressa','Exrol','kexrolcj@google.com.au',5000,'2019-07-24 18:33:06','Formación docente para educación física, artística o tecnológica',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(839,'Emlynne','Farnfield','efarnfieldna@wunderground.com',5000,'2020-02-28 07:53:14','Orientación y asesoría educativa',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(912,'Waldon','Franke','wfrankepb@hexun.com',5000,'2020-04-20 05:40:46','Formación docente para otros servicios educativos',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(36,'Wren','Gable','wgablez@sogou.com',5000,'2018-07-10 19:16:32','Ciencias políticas',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(549,'Christy','Gladwin','cgladwinf8@printfriendly.com',5000,'2018-09-23 23:42:03','Negocios y administración, programas multidisciplinarios o generales',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(613,'Dolorita','Grimme','dgrimmeh0@accuweather.com',5000,'2019-03-21 01:41:50','Derecho',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(219,'Conny','Hargreaves','chargreaves62@joomla.org',5000,'2018-10-19 05:47:38','Formación docente para otros servicios educativos',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(37,'Shaw','Harrill','sharrill10@princeton.edu',5000,'2018-06-07 08:25:26','Negocios y administración',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(354,'Glenna','Hussell','ghussell9t@squidoo.com',5000,'2018-05-01 09:46:05','Formación docente para educación física, artística o tecnológica',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(252,'Donaugh','Jeffcoat','djeffcoat6z@tuttocitta.it',5000,'2020-03-10 23:37:32','Industria de la alimentación',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(583,'Kirstin','Kencott','kkencottg6@wunderground.com',5000,'2017-12-14 12:31:27','Criminología',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(909,'Oralle','Launchbury','olaunchburyp8@free.fr',5000,'2020-07-11 22:20:10','Ciencias de la información',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(265,'Mollee','Ledward','mledward7c@google.it',5000,'2018-05-23 05:34:35','Formación docente para educación física, artística o tecnológica',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(577,'Ced','Lodo','clodog0@mtv.com',5000,'2020-08-16 10:46:17','Contabilidad y fiscalización',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(730,'Ariella','Marples','amarplesk9@mac.com',5000,'2020-03-05 06:24:47','Didáctica, pedagogía y currículo',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(107,'Hastings','McDonagh','hmcdonagh2y@hao123.com',5000,'2020-02-08 04:55:39','Formación docente para educación básica, nivel secundaria',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(496,'Ethe','McLay','emclaydr@dagondesign.com',5000,'2018-01-03 10:45:32','Formación docente para educación física, artística o tecnológica',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(460,'Bonnie','McLugish','bmclugishcr@flickr.com',5000,'2018-10-19 21:14:19','Ingeniería industrial, mecánica, electrónica y tecnología',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(749,'Aleksandr','Millhill','amillhillks@newsvine.com',5000,'2019-06-18 20:42:38','Negocios y administración',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(116,'Sollie','Mollnar','smollnar37@whitehouse.gov',5000,'2018-04-20 21:21:58','Ingeniería industrial, mecánica, electrónica y tecnología',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(553,'Valdemar','Mudie','vmudiefc@salon.com',5000,'2019-04-03 04:30:14','Ciencias de la educación, programas multidisciplinarios o generales',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(911,'Ewart','Parkman','eparkmanpa@fc2.com',5000,'2020-04-28 20:51:54','Formación docente para la enseñanza de asignaturas específicas',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(11,'Terri','Piercy','tpiercya@a8.net',5000,'2019-05-31 03:36:39','Tecnologías de la información y comunicación',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(916,'Lance','Proback','lprobackpf@army.mil',5000,'2018-03-28 02:12:20','Educación',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(128,'Mahalia','Qusklay','mqusklay3j@boston.com',5000,'2018-12-07 23:59:28','Ciencias de la información',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(630,'Sim','Rishworth','srishworthhh@howstuffworks.com',5000,'2019-03-28 10:33:39','Trabajo y atención social',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(340,'Alia','Robinson','arobinson9f@jiathis.com',5000,'2020-07-01 00:22:13','Ciencias de la información',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(642,'Delora','Rraundl','drraundlht@prweb.com',5000,'2018-02-17 08:38:27','Ciencias de la educación, programas multidisciplinarios o generales',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(54,'Rhianna','Saby','rsaby1h@dion.ne.jp',5000,'2019-10-20 16:49:57','Derecho',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(195,'Alejandro','Sculpher','asculpher5e@ucsd.edu',5000,'2017-12-04 01:00:34','Minería y extracción',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(908,'Craig','Sedwick','csedwickp7@webmd.com',5000,'2018-11-18 10:33:18','Formación docente para otros servicios educativos',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(26,'Sheryl','Shergill','sshergillp@cisco.com',5000,'2018-08-07 23:00:58','Formación docente para la enseñanza de asignaturas específicas',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(68,'Rorie','Simons','rsimons1v@issuu.com',5000,'2018-11-06 05:48:45','Ingeniería industrial, mecánica, electrónica y tecnología',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(674,'Michel','Sockell','msockellip@mozilla.org',5000,'2018-04-02 20:25:26','Ingeniería mecánica y metalurgia',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(834,'Karlie','Spataro','kspataron5@washington.edu',5000,'2018-04-08 05:10:19','Orientación y asesoría educativa',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(70,'Alexandr','Speariett','aspeariett1x@gov.uk',5000,'2018-10-13 12:01:45','Ingeniería industrial, mecánica, electrónica y tecnología',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(488,'Theressa','Storcke','tstorckedj@nytimes.com',5000,'2018-12-07 01:36:59','Formación docente para educación básica, nivel secundaria',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(33,'Barde','Turford','bturfordw@yale.edu',5000,'2019-09-23 12:54:06','Bellas artes',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(720,'Ambrosius','Valti','avaltijz@simplemachines.org',5000,'2020-07-17 21:30:03','Industria de la alimentación',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(48,'Erhart','Welford','ewelford1b@soup.io',5000,'2020-05-24 22:32:15','Derecho',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(849,'Gustave','Wooland','gwoolandnk@delicious.com',5000,'2018-12-29 14:26:11','Derecho',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(625,'Nickolaus','NA','ngodlontonhc@fc2.com',5000,'2020-08-09 11:06:20','Negocios y administración',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(29,'Hendrika','NA','hcampas@devhub.com',5000,'2017-10-05 05:42:13','Contabilidad y fiscalización',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(622,'Matthus','NA','mgaynsfordh9@discuz.net',5000,'2019-11-01 18:33:27','Ciencias de la información',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(352,'Eugenia','NA','espreag9r@addthis.com',5000,'2018-11-16 01:36:16','Ingeniería mecánica y metalurgia',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(520,'Edin','NA','ecoaleef@yandex.ru',5000,'2020-07-31 20:58:10','Ingeniería mecánica y metalurgia',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(22,'Ashien','NA','aromel@bluehost.com',5000,'2017-09-15 15:46:56','Tecnologías de la información y comunicación',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(273,'Roldan','NA','rkeddle7k@edublogs.org',5000,'2017-10-02 07:37:43','Formación docente para educación física, artística o tecnológica',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(474,'Judi','NA','jkupperd5@foxnews.com',5000,'2018-05-27 20:43:12','Formación docente para educación física, artística o tecnológica',1);"
[1] "INSERT INTO platzi.TopAlumnos VALUES(672,'Bunny','NA','bmcdowellin@yandex.ru',5000,'2020-03-12 16:00:02','Didáctica, pedagogía y currículo',1);"

In [29]:
# Cerramos conexión:
dbDisconnect(db_conn)

[1] TRUE