# Conexión a una base de datos MySQL desde R (Lectura desde la base de datos)

Necesitamos instalar el paquete: `install.packages('RMySQL')`

In [1]:
#install.packages('RMySQL')

In [2]:
# Importamos la librería "RMySQL"
library(RMySQL)

Loading required package: DBI

### Datos de conexión (extraídos desde MySQL Workbench)
<img src="im/cap_mysql_workbench.png"  width="50%" height="30%">

In [3]:
# Creamos la cadena de conexión:
db_conn <- dbConnect(MySQL(), user='root', host = 'localhost', password = 'Marcos27', dbname='platzi')
db_conn

In [4]:
# Mostramos tablas de la base de datos:
dbGetQuery(db_conn, statement = 'SHOW TABLES;')

  Tables_in_platzi
1 TopAlumnos
2 alumnos
3 carreras

### Forma 1 de cargar una tabla en un DataFrame

In [5]:
query1 <- 'SELECT * FROM platzi.alumnos'

df_alumnos <- dbGetQuery(db_conn, statement = query1)

head(df_alumnos)

Warning message in .local(conn, statement, ...):
“unrecognized MySQL field type 7 in column 5 imported as character”

  id nombre   apellido   email                   colegiatura
1 1  Wanda    Billington wbillington0@nsw.gov.au 5000
2 2  Blayne   Wakeley    bwakeley1@google.cn     2500
3 3  Hilde    Matiewe    hmatiewe2@hibu.com      2300
4 4  Leanna   NA         ldusey3@ebay.co.uk      2000
5 5  Maire    Garnall    mgarnall4@artisteer.com 4800
6 6  Nikolaus Freeborn   nfreeborn5@yandex.ru    2000
  fecha_incorporacion carrera_id tutor_id
1 2020-05-17 22:49:29 23          9
2 2018-09-01 17:51:49 40         26
3 2020-07-18 00:03:21 48         25
4 2018-02-05 17:28:38 36         14
5 2020-08-04 03:43:57 14          7
6 2019-06-05 07:45:19 28         13

In [6]:
# Guardamos datos en archivo csv
write.csv(df_alumnos, file = 'data/tabla_alumnos.csv' , row.names = FALSE)

### Forma 2 de cargar una tabla en un DataFrame

In [7]:
df_carreras <- dbReadTable(db_conn, 'carreras')
head(df_carreras)

Warning message in .local(conn, statement, ...):
“unrecognized MySQL field type 7 in column 2 imported as character”

  id carrera
1 1  Negocios y administración
2 2  Administración y gestión de empresas
3 3  Contabilidad y fiscalización
4 4  Finanzas, banca y seguros
5 5  Mercadotecnia y publicidad
6 6  Negocios y administración, programas multidisciplinarios o generales
  fecha_alta          vigente
1 2017-05-28 06:42:45 1
2 2016-03-24 13:52:17 0
3 2018-10-29 18:33:57 1
4 2020-05-11 02:05:57 0
5 2020-03-20 23:53:23 0
6 2019-02-25 09:02:59 1

In [8]:
class(df_carreras)

[1] "data.frame"

In [9]:
str(df_carreras)

'data.frame':	60 obs. of  4 variables:
 $ id        : int  1 2 3 4 5 6 7 8 9 10 ...
 $ carrera   : chr  "Negocios y administración" "Administración y gestión de empresas" "Contabilidad y fiscalización" "Finanzas, banca y seguros" ...
 $ fecha_alta: chr  "2017-05-28 06:42:45" "2016-03-24 13:52:17" "2018-10-29 18:33:57" "2020-05-11 02:05:57" ...
 $ vigente   : int  1 0 1 0 0 1 1 1 1 0 ...

In [10]:
# Guardamos datos en archivo csv
write.csv(df_carreras, file = 'data/tabla_carreras.csv' , row.names = FALSE)

In [11]:
# Cerramos conexión:
dbDisconnect(db_conn)

[1] TRUE