## Condicionales: `if`, `else if`, `else`

In [10]:
n <- 18

if( ((n %% 2) == 0) & (n <= 10)  ){
    print( paste('El número ',n,' es par') )
}else if( ((n %% 2) == 0) & (n > 10) ){
    print( paste('El número ',n,' es par y mayor que 10') )
}else{
    print( paste('El número ',n,' es impar') )
}

[1] "El número  18  es par y mayor que 10"

## While

In [11]:
m <- 1000
while (m > 0.5){
    texto <- paste('La mitad de ',m,' es: ',m/2)
    print( texto )
    m <- m/2
}

[1] "La mitad de  1000  es:  500"
[1] "La mitad de  500  es:  250"
[1] "La mitad de  250  es:  125"
[1] "La mitad de  125  es:  62.5"
[1] "La mitad de  62.5  es:  31.25"
[1] "La mitad de  31.25  es:  15.625"
[1] "La mitad de  15.625  es:  7.8125"
[1] "La mitad de  7.8125  es:  3.90625"
[1] "La mitad de  3.90625  es:  1.953125"
[1] "La mitad de  1.953125  es:  0.9765625"
[1] "La mitad de  0.9765625  es:  0.48828125"

## Break

In [12]:
p <- 1
while(p < 50){
    texto <- paste('El número ahora vale',p)
    print( texto )

    if(p == 10){
        print('Límite alcanzado')
        break
    }

    p <- p + 1
}

[1] "El número ahora vale 1"
[1] "El número ahora vale 2"
[1] "El número ahora vale 3"
[1] "El número ahora vale 4"
[1] "El número ahora vale 5"
[1] "El número ahora vale 6"
[1] "El número ahora vale 7"
[1] "El número ahora vale 8"
[1] "El número ahora vale 9"
[1] "El número ahora vale 10"
[1] "Límite alcanzado"

## For

### Recorriendo vectores

In [13]:
vector <- 1:10
vector

 [1]  1  2  3  4  5  6  7  8  9 10

In [14]:
for (vi in vector){
    print(vi)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

### Recorriendo matrices

In [15]:
matriz <- matrix(51:70, nrow = 4)#, byrow = TRUE)
matriz

     [,1] [,2] [,3] [,4] [,5]
[1,] 51   55   59   63   67
[2,] 52   56   60   64   68
[3,] 53   57   61   65   69
[4,] 54   58   62   66   70

In [16]:
for (mi in matriz){
    print(mi)
}

[1] 51
[1] 52
[1] 53
[1] 54
[1] 55
[1] 56
[1] 57
[1] 58
[1] 59
[1] 60
[1] 61
[1] 62
[1] 63
[1] 64
[1] 65
[1] 66
[1] 67
[1] 68
[1] 69
[1] 70

### Recorriendo listas

In [17]:
lista <- list( pi, cos(2*pi), sqrt(2), c(50:55), head(mtcars))
lista

[[1]]
[1] 3.141593

[[2]]
[1] 1

[[3]]
[1] 1.414214

[[4]]
[1] 50 51 52 53 54 55

[[5]]
                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

In [18]:
for (li in lista){
    print(li)
}

[1] 3.141593
[1] 1
[1] 1.414214
[1] 50 51 52 53 54 55
                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1