# Operador Pipe

In [1]:
library(dplyr) #<-- Paquete con funciones para manipulación de datos

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
coches <- mtcars
class(coches)

[1] "data.frame"

In [3]:
head(coches)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

### Filtrado, muestreo y ordenamiento

In [4]:
# Filtramos los registros donde "mpg>20", tomamos una muestra aleatoria de tamaño 5 
# y ordenamos descendientemente con respecto a la columna "mpg"
resultado <- arrange( sample_n( filter(coches, mpg>20), size=5), desc(mpg))
resultado

             mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Fiat 128     32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Lotus Europa 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Merc 230     22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Datsun 710   22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Mazda RX4    21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4

### Uso de operador pipe `%>%`
Este operador permite encadenar una serie de operaciones que se ejecutarán en un orden específico

In [5]:
# Operaciones a ejecutar:
# 1. Se carga del dataframe "coches"
# 2. Se filtra el dataframe
# 3. Se toma una muestra aleatoria de tamaño 5
# 4. Se ordenan los datos con respecto a la variable "mpg"

resultado2 <- coches %>% filter(mpg > 20) %>% sample_n(size=5) %>% arrange(desc(mpg))
resultado2

              mpg  cyl disp  hp drat wt    qsec  vs am gear carb
Fiat 128      32.4 4    78.7 66 4.08 2.200 19.47 1  1  4    1
Honda Civic   30.4 4    75.7 52 4.93 1.615 18.52 1  1  4    2
Fiat X1-9     27.3 4    79.0 66 4.08 1.935 18.90 1  1  4    1
Merc 230      22.8 4   140.8 95 3.92 3.150 22.90 1  0  4    2
Toyota Corona 21.5 4   120.1 97 3.70 2.465 20.01 1  0  3    1