# Modificando la forma de las tablas

In [1]:
# install.packages('tidyr')
# install.packages('data.table')

In [2]:
library(tidyr)
library(data.table)

In [3]:
anio <- c(2018:2020)
enero <- c(120,100,80)
febrero <- c(80,90,140)
marzo <- c(110,150,70)

df <- data.frame(anio=anio, enero=enero, febrero=febrero, marzo=marzo)
df

  anio enero febrero marzo
1 2018 120    80     110
2 2019 100    90     150
3 2020  80   140      70

### Agrupamos columnas

In [4]:
df1 <- gather(df, Mes, Ingresos, enero,febrero, marzo)
df1

  anio Mes     Ingresos
1 2018 enero   120
2 2019 enero   100
3 2020 enero    80
4 2018 febrero  80
5 2019 febrero  90
6 2020 febrero 140
7 2018 marzo   110
8 2019 marzo   150
9 2020 marzo    70

In [5]:
# Colección de datos con "Gather"
df1 <- gather(df, Mes, Ingresos, enero:marzo)
df1

  anio Mes     Ingresos
1 2018 enero   120
2 2019 enero   100
3 2020 enero    80
4 2018 febrero  80
5 2019 febrero  90
6 2020 febrero 140
7 2018 marzo   110
8 2019 marzo   150
9 2020 marzo    70

In [6]:
# Regresamos al formato anterior:
df2 <- spread(df1, Mes, Ingresos)
df2

  anio enero febrero marzo
1 2018 120    80     110
2 2019 100    90     150
3 2020  80   140      70

### Separación de una columna en dos nuevas

In [7]:
df_dot <- data.frame(columna = c('a.b','c.d','e.f'))
df_dot

  columna
1 a.b
2 c.d
3 e.f

In [8]:
df3 <- separate(df_dot, columna, c('c1','c2'))
df3

  c1 c2
1 a  b
2 c  d
3 e  f

### Uniónn de dos columnas en una sola

In [9]:
df4 <- unite(df3, columna_sola, c1,c2, sep=',')
df4

  columna_sola
1 a,b
2 c,d
3 e,f