# Data Frames

En esta práctica veremos como:
* Crear Data Frames.
* Extraer y Filrar información de un DataFrame.
* Ordenar un Data Frame con respecto a una columna.
* Extracción de características de un Data Frame.

Los Data frames son arrgelos en forma matricial donde cada columna puede ser de distinto tipo.

In [1]:
# Creamos las columnas que compondrán el Data Frame:
meses <- c('Enero','Febrero','Marzo')
ventas <- c(100,120,80)
objetivos <- c(TRUE,TRUE,FALSE)

In [2]:
df <- data.frame(meses, ventas, objetivos)
df

  meses   ventas objetivos
1 Enero   100     TRUE
2 Febrero 120     TRUE
3 Marzo    80    FALSE

## Extracción de información por índices

### Extracción de columnas

* Si usamos: `df$ColumnName` o `df[,ColumnName]` se extraerá la columna en forma vectorial.
* Si usamos: `df[ColumnName]` o `df[ColumnNumber]` se extraerá la columna en forma de matriz.

In [4]:
df$meses

[1] "Enero"   "Febrero" "Marzo"

In [5]:
df[,'meses']

[1] "Enero"   "Febrero" "Marzo"

In [6]:
df['meses']

  meses
1 Enero
2 Febrero
3 Marzo

In [7]:
df[1]

  meses
1 Enero
2 Febrero
3 Marzo

In [8]:
df[,1]

[1] "Enero"   "Febrero" "Marzo"

In [9]:
df$ventas

[1] 100 120  80

In [13]:
df[,'ventas']

[1] 100 120  80

In [14]:
5*df[,'ventas']

[1] 500 600 400

In [16]:
5*df['ventas']

  ventas
1 500
2 600
3 400

In [11]:
df[,2]

[1] 100 120  80

In [17]:
# Extracción de las columnas 1 y 3:
df[,c(1,3)]

  meses   objetivos
1 Enero    TRUE
2 Febrero  TRUE
3 Marzo   FALSE

In [18]:
# Extracción de las columnas 1 y 3:
df[,c('meses','objetivos')]

  meses   objetivos
1 Enero    TRUE
2 Febrero  TRUE
3 Marzo   FALSE

### Extracción de renglones

In [19]:
df

  meses   ventas objetivos
1 Enero   100     TRUE
2 Febrero 120     TRUE
3 Marzo    80    FALSE

In [20]:
df[1,]

  meses ventas objetivos
1 Enero 100    TRUE

In [21]:
df[c(1),]

  meses ventas objetivos
1 Enero 100    TRUE

In [22]:
df[c(1,3),]

  meses ventas objetivos
1 Enero 100     TRUE
3 Marzo  80    FALSE

### Extracción de renglones y columnas específicas

In [23]:
df

  meses   ventas objetivos
1 Enero   100     TRUE
2 Febrero 120     TRUE
3 Marzo    80    FALSE

In [24]:
df[c(1,3),c(1,2)]

  meses ventas
1 Enero 100
3 Marzo  80

In [25]:
df[c(1,3),c('meses','ventas')]

  meses ventas
1 Enero 100
3 Marzo  80

In [26]:
df[c(1,3),2]

[1] 100  80

In [28]:
50*df[c(1,3),2]

[1] 5000 4000

## Extracción de información por filtros

In [29]:
df

  meses   ventas objetivos
1 Enero   100     TRUE
2 Febrero 120     TRUE
3 Marzo    80    FALSE

In [32]:
ventas

[1] 100 120  80

In [30]:
# Extraer todos los registros del DataFrame dónde "ventas >= 100"
filtro1 <- (ventas >= 100)
subset(df, subset = filtro1 )

  meses   ventas objetivos
1 Enero   100    TRUE
2 Febrero 120    TRUE

In [33]:
# Extraer los meses del DataFrame dónde "ventas >= 100"
subset(df[,1], subset = filtro1 )

[1] "Enero"   "Febrero"

In [34]:
# Extraer los meses del DataFrame dónde "ventas >= 100"
subset(df[,'meses'], subset = filtro1 )

[1] "Enero"   "Febrero"

In [35]:
# Extraer los meses y objetivos del DataFrame dónde "ventas >= 100"
subset(df[,c('meses','objetivos')], subset = filtro1 )

  meses   objetivos
1 Enero   TRUE
2 Febrero TRUE

In [36]:
# Extraer los meses y objetivos del DataFrame dónde "ventas >= 100"
subset(df[,c(1,3)], subset = filtro1 )

  meses   objetivos
1 Enero   TRUE
2 Febrero TRUE

In [37]:
# Extraer los meses y objetivos del DataFrame dónde "ventas < 100"
subset(df, subset = (ventas < 100) )

  meses ventas objetivos
3 Marzo 80     FALSE

## Ordenamiento por columnas

In [38]:
df

  meses   ventas objetivos
1 Enero   100     TRUE
2 Febrero 120     TRUE
3 Marzo    80    FALSE

In [39]:
# Muestra los índices en orden ascendente con respecto a la columna 2:
order(df[,2])

[1] 3 1 2

In [40]:
# Muestra los índices en orden ascendente con respecto a la columna 2:
order(df[,'ventas'])

[1] 3 1 2

In [41]:
# Muestra los índices en orden ascendente con respecto a la columna 2:
order(df$ventas)

[1] 3 1 2

In [42]:
# ordenamos de forma ascendente con respecto a una columna:
df[ order(df$ventas), ]

  meses   ventas objetivos
3 Marzo    80    FALSE
1 Enero   100     TRUE
2 Febrero 120     TRUE

In [43]:
# ordenamos de forma descendente con respecto a una columna:
df[ order(-df$ventas), ]

  meses   ventas objetivos
2 Febrero 120     TRUE
1 Enero   100     TRUE
3 Marzo    80    FALSE

In [44]:
# ordenamos de forma descendente con respecto a varias columnas columna:
df[ order(-df$ventas, df$meses), ]

  meses   ventas objetivos
2 Febrero 120     TRUE
1 Enero   100     TRUE
3 Marzo    80    FALSE

## Extrayendo características de un Data Frame

In [45]:
str(df)

'data.frame':	3 obs. of  3 variables:
 $ meses    : chr  "Enero" "Febrero" "Marzo"
 $ ventas   : num  100 120 80
 $ objetivos: logi  TRUE TRUE FALSE

In [46]:
summary(df)

    meses               ventas    objetivos
 Length:3           Min.   : 80   Mode :logical
 Class :character   1st Qu.: 90   FALSE:1
 Mode  :character   Median :100   TRUE :2
                    Mean   :100
                    3rd Qu.:110
                    Max.   :120