# Lectura y escritura de archivos excel

### Instalación de paquete para trabajar con archivos xlsx

In [1]:
#install.packages('readxl')
#install.packages("openxlsx", dependencies=TRUE)

Ya que se ha instalado el paquete, cada vez que queramos usarlo debemos mandarlo a llamar mediante `library(package_name)`:

In [2]:
library(readxl)
library(openxlsx)

In [3]:
pth_file_xlsx <- 'data/poblacion.xlsx'
pth_file_xlsx

[1] "data/poblacion.xlsx"

In [4]:
# la siguiente función muestra los nombres de las hojas del archivo excel:
sheets <- excel_sheets(pth_file_xlsx)
sheets

[1] "Hoja 1" "Hoja2"

In [5]:
datos_H1 <- read_excel(pth_file_xlsx, sheets[1])
datos_H1

  Continente Densidad Superficie Población  País más poblado
1 Asia       86.88    43810000   4677291000 China (1.392.240.000)
2 África     32.70    30370000   1110020000 Nigeria (191.205.000)
3 Europa     70.00    10180000    801000000 Rusia (112.000.000)
4 América    23.50    42330000   1094215000 Estados Unidos (330.028.000)
5 Oceanía     4.25     9008500     40201000 Australia (27.240.000)
  Ciudad más poblada
1 Tokio (35.682.000)
2 El Cairo (16.794.000)
3 Moscú (18.940.000)
4 Ciudad de México (22.577.000)
5 Sídney (6.550.000)

In [6]:
class(datos_H1)

[1] "tbl_df"     "tbl"        "data.frame"

In [7]:
datos_H2 <- read_excel(pth_file_xlsx, sheets[2])
datos_H2

  País           Capital
1 México         Ciudad de México
2 Estados Unidos Washintong
3 Canadá         Otawa
4 Alemania       Berlín
5 Francia        París

In [8]:
class(datos_H2)

[1] "tbl_df"     "tbl"        "data.frame"

In [9]:
datos_H2['País']

  País
1 México
2 Estados Unidos
3 Canadá
4 Alemania
5 Francia

In [10]:
datos_H2$País

[1] "México"         "Estados Unidos" "Canadá"         "Alemania"
[5] "Francia"

### Leyendo todas las hojas del archivo excel

Cuando cargamos al mismo tiempo todas las hojas de un archivo excel, éstas se almacenan en una lista, tal como se muestra a continuación.

In [11]:
datos_Hojas <- lapply(excel_sheets(pth_file_xlsx), read_excel, path = pth_file_xlsx)

datos_Hojas

[[1]]
# A tibble: 5 × 6
  Continente Densidad Superficie  Población `País más poblado`
  <chr>         <dbl>      <dbl>      <dbl> <chr>
1 Asia          86.9    43810000 4677291000 China (1.392.240.000)
2 África        32.7    30370000 1110020000 Nigeria (191.205.000)
3 Europa        70      10180000  801000000 Rusia (112.000.000)
4 América       23.5    42330000 1094215000 Estados Unidos (330.028.000)
5 Oceanía        4.25    9008500   40201000 Australia (27.240.000)
# ℹ 1 more variable: `Ciudad más poblada` <chr>

[[2]]
# A tibble: 5 × 2
  País           Capital
  <chr>          <chr>
1 México         Ciudad de México
2 Estados Unidos Washintong
3 Canadá         Otawa
4 Alemania       Berlín
5 Francia        París

In [12]:
datos_Hojas[[1]]

  Continente Densidad Superficie Población  País más poblado
1 Asia       86.88    43810000   4677291000 China (1.392.240.000)
2 África     32.70    30370000   1110020000 Nigeria (191.205.000)
3 Europa     70.00    10180000    801000000 Rusia (112.000.000)
4 América    23.50    42330000   1094215000 Estados Unidos (330.028.000)
5 Oceanía     4.25     9008500     40201000 Australia (27.240.000)
  Ciudad más poblada
1 Tokio (35.682.000)
2 El Cairo (16.794.000)
3 Moscú (18.940.000)
4 Ciudad de México (22.577.000)
5 Sídney (6.550.000)

In [13]:
datos_Hojas[[2]]

  País           Capital
1 México         Ciudad de México
2 Estados Unidos Washintong
3 Canadá         Otawa
4 Alemania       Berlín
5 Francia        París

In [14]:
datos_Hojas[[2]]['Capital']

  Capital
1 Ciudad de México
2 Washintong
3 Otawa
4 Berlín
5 París

In [15]:
datos_Hojas[[2]]$Capital

[1] "Ciudad de México" "Washintong"       "Otawa"            "Berlín"
[5] "París"

### Escritura de datos en archivo excel

In [16]:
df <- head(mtcars)
df

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [17]:
# La siguiente función se puede usar gracias a que importamos la librería: "library(openxlsx)" 
write.xlsx(df,'data/file.xlsx', rowNames = TRUE, sheetName='Hoja1')

In [18]:
hojas <- excel_sheets('data/file.xlsx')
hojas

[1] "Hoja1"

In [19]:
df2 <- read_excel('data/file.xlsx', hojas[1])
df2

New names:
• `` -> `...1`

  ...1              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [20]:
df2['carb']

  carb
1 4
2 4
3 1
4 1
5 2
6 1

In [22]:
5*df2['carb']

  carb
1 20
2 20
3  5
4  5
5 10
6  5

In [21]:
df2$carb

[1] 4 4 1 1 2 1

In [23]:
5*df2$carb

[1] 20 20  5  5 10  5