# Concatenación de Data Frames

In [1]:
df1 <- read.csv(file = 'data/fichero2.csv')
df1

   columna1 columna2
1   1       a
2   2       b
3   3       c
4   4       d
5   5       e
6   6       f
7   7       g
8   8       h
9   9       i
10 10       j

In [2]:
df2 <- read.csv(file = 'data/fichero2.csv')
df2

   columna1 columna2
1   1       a
2   2       b
3   3       c
4   4       d
5   5       e
6   6       f
7   7       g
8   8       h
9   9       i
10 10       j

## Concatenación de forma vertical

In [3]:
df3 <- rbind(df1, df2)
df3

   columna1 columna2
1   1       a
2   2       b
3   3       c
4   4       d
5   5       e
6   6       f
7   7       g
8   8       h
9   9       i
10 10       j
11  1       a
12  2       b
13  3       c
14  4       d
15  5       e
16  6       f
17  7       g
18  8       h
19  9       i
20 10       j

## Concatenación de forma horizontal

In [4]:
df2

   columna1 columna2
1   1       a
2   2       b
3   3       c
4   4       d
5   5       e
6   6       f
7   7       g
8   8       h
9   9       i
10 10       j

In [5]:
df2['columna3'] <- df2[1]
df2

   columna1 columna2 columna3
1   1       a         1
2   2       b         2
3   3       c         3
4   4       d         4
5   5       e         5
6   6       f         6
7   7       g         7
8   8       h         8
9   9       i         9
10 10       j        10

In [6]:
df2$columna4 <- 5*df2$columna3 + df2$columna1
df2

   columna1 columna2 columna3 columna4
1   1       a         1        6
2   2       b         2       12
3   3       c         3       18
4   4       d         4       24
5   5       e         5       30
6   6       f         6       36
7   7       g         7       42
8   8       h         8       48
9   9       i         9       54
10 10       j        10       60

In [7]:
df2[c('columna5','columna6')] <- df2[2]
df2

   columna1 columna2 columna3 columna4 columna5 columna6
1   1       a         1        6       a        a
2   2       b         2       12       b        b
3   3       c         3       18       c        c
4   4       d         4       24       d        d
5   5       e         5       30       e        e
6   6       f         6       36       f        f
7   7       g         7       42       g        g
8   8       h         8       48       h        h
9   9       i         9       54       i        i
10 10       j        10       60       j        j

In [8]:
df2[c('columna7','columna8')] <- df2[c(4,5)]
df2

   columna1 columna2 columna3 columna4 columna5 columna6 columna7 columna8
1   1       a         1        6       a        a         6       a
2   2       b         2       12       b        b        12       b
3   3       c         3       18       c        c        18       c
4   4       d         4       24       d        d        24       d
5   5       e         5       30       e        e        30       e
6   6       f         6       36       f        f        36       f
7   7       g         7       42       g        g        42       g
8   8       h         8       48       h        h        48       h
9   9       i         9       54       i        i        54       i
10 10       j        10       60       j        j        60       j