# Agregación de campos en un Data Frame

Hay dos formas distintas de agregar columnas a un DataFrame:
* `df$NewColumnName <- Valor`
* `df['NewColumnName'] <- Valor`

In [1]:
df <- read.csv(file = 'data/fichero2.csv')
df

   columna1 columna2
1   1       a
2   2       b
3   3       c
4   4       d
5   5       e
6   6       f
7   7       g
8   8       h
9   9       i
10 10       j

In [2]:
df$columna3 <- df$columna1*5

df

   columna1 columna2 columna3
1   1       a         5
2   2       b        10
3   3       c        15
4   4       d        20
5   5       e        25
6   6       f        30
7   7       g        35
8   8       h        40
9   9       i        45
10 10       j        50

In [3]:
df['columna4'] <- df['columna3']^2
df

   columna1 columna2 columna3 columna4
1   1       a         5         25
2   2       b        10        100
3   3       c        15        225
4   4       d        20        400
5   5       e        25        625
6   6       f        30        900
7   7       g        35       1225
8   8       h        40       1600
9   9       i        45       2025
10 10       j        50       2500

In [4]:
# Función "seno"
df['columna5'] <- sin(df['columna4'])
df

   columna1 columna2 columna3 columna4 columna5
1   1       a         5         25     -0.1323518
2   2       b        10        100     -0.5063656
3   3       c        15        225     -0.9300949
4   4       d        20        400     -0.8509194
5   5       e        25        625      0.1760163
6   6       f        30        900      0.9978033
7   7       g        35       1225     -0.2193370
8   8       h        40       1600     -0.8012248
9   9       i        45       2025      0.9704917
10 10       j        50       2500     -0.6501275

In [6]:
# Función "coseno"
df$columna6 <- cos(df$columna4)
df

   columna1 columna2 columna3 columna4 columna5   columna6
1   1       a         5         25     -0.1323518  0.9912028
2   2       b        10        100     -0.5063656  0.8623189
3   3       c        15        225     -0.9300949  0.3673194
4   4       d        20        400     -0.8509194 -0.5252963
5   5       e        25        625      0.1760163 -0.9843873
6   6       f        30        900      0.9978033  0.0662467
7   7       g        35       1225     -0.2193370  0.9756492
8   8       h        40       1600     -0.8012248 -0.5983635
9   9       i        45       2025      0.9704917 -0.2411346
10 10       j        50       2500     -0.6501275  0.7598251

In [7]:
df$columna7 <- 1
df

   columna1 columna2 columna3 columna4 columna5   columna6   columna7
1   1       a         5         25     -0.1323518  0.9912028 1
2   2       b        10        100     -0.5063656  0.8623189 1
3   3       c        15        225     -0.9300949  0.3673194 1
4   4       d        20        400     -0.8509194 -0.5252963 1
5   5       e        25        625      0.1760163 -0.9843873 1
6   6       f        30        900      0.9978033  0.0662467 1
7   7       g        35       1225     -0.2193370  0.9756492 1
8   8       h        40       1600     -0.8012248 -0.5983635 1
9   9       i        45       2025      0.9704917 -0.2411346 1
10 10       j        50       2500     -0.6501275  0.7598251 1

In [8]:
df$columna8 <- 0
df

   columna1 columna2 columna3 columna4 columna5   columna6   columna7 columna8
1   1       a         5         25     -0.1323518  0.9912028 1        0
2   2       b        10        100     -0.5063656  0.8623189 1        0
3   3       c        15        225     -0.9300949  0.3673194 1        0
4   4       d        20        400     -0.8509194 -0.5252963 1        0
5   5       e        25        625      0.1760163 -0.9843873 1        0
6   6       f        30        900      0.9978033  0.0662467 1        0
7   7       g        35       1225     -0.2193370  0.9756492 1        0
8   8       h        40       1600     -0.8012248 -0.5983635 1        0
9   9       i        45       2025      0.9704917 -0.2411346 1        0
10 10       j        50       2500     -0.6501275  0.7598251 1        0

In [10]:
# Eliminamos una columna:
df$columna8 <- NULL
df

   columna1 columna2 columna3 columna4 columna5   columna6   columna7
1   1       a         5         25     -0.1323518  0.9912028 1
2   2       b        10        100     -0.5063656  0.8623189 1
3   3       c        15        225     -0.9300949  0.3673194 1
4   4       d        20        400     -0.8509194 -0.5252963 1
5   5       e        25        625      0.1760163 -0.9843873 1
6   6       f        30        900      0.9978033  0.0662467 1
7   7       g        35       1225     -0.2193370  0.9756492 1
8   8       h        40       1600     -0.8012248 -0.5983635 1
9   9       i        45       2025      0.9704917 -0.2411346 1
10 10       j        50       2500     -0.6501275  0.7598251 1

## Renombrado de columnas

In [11]:
colnames(df)

[1] "columna1" "columna2" "columna3" "columna4" "columna5" "columna6" "columna7"

In [12]:
colnames(df) <- c('c1','c2','c3','c4','c5','c6','c7')
df

   c1 c2 c3 c4   c5         c6         c7
1   1 a   5   25 -0.1323518  0.9912028 1
2   2 b  10  100 -0.5063656  0.8623189 1
3   3 c  15  225 -0.9300949  0.3673194 1
4   4 d  20  400 -0.8509194 -0.5252963 1
5   5 e  25  625  0.1760163 -0.9843873 1
6   6 f  30  900  0.9978033  0.0662467 1
7   7 g  35 1225 -0.2193370  0.9756492 1
8   8 h  40 1600 -0.8012248 -0.5983635 1
9   9 i  45 2025  0.9704917 -0.2411346 1
10 10 j  50 2500 -0.6501275  0.7598251 1

In [16]:
colnames(df)

[1] "c1" "c2" "c3" "c4" "c5" "c6" "c7"

In [18]:
colnames(df)[2] <- 'letras'
colnames(df)[7] <- 'Unos'

df

   c1 letras c3 c4   c5         c6         Unos
1   1 a       5   25 -0.1323518  0.9912028 1
2   2 b      10  100 -0.5063656  0.8623189 1
3   3 c      15  225 -0.9300949  0.3673194 1
4   4 d      20  400 -0.8509194 -0.5252963 1
5   5 e      25  625  0.1760163 -0.9843873 1
6   6 f      30  900  0.9978033  0.0662467 1
7   7 g      35 1225 -0.2193370  0.9756492 1
8   8 h      40 1600 -0.8012248 -0.5983635 1
9   9 i      45 2025  0.9704917 -0.2411346 1
10 10 j      50 2500 -0.6501275  0.7598251 1

### Filtrado de información

In [31]:
df$c3

 [1]  5 10 15 20 25 30 35 40 45 50

In [33]:
df$c3 >= 25

 [1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [32]:
df[ df$c3 >=25 , ]

   c1 letras c3 c4   c5         c6         Unos
5   5 e      25  625  0.1760163 -0.9843873 1
6   6 f      30  900  0.9978033  0.0662467 1
7   7 g      35 1225 -0.2193370  0.9756492 1
8   8 h      40 1600 -0.8012248 -0.5983635 1
9   9 i      45 2025  0.9704917 -0.2411346 1
10 10 j      50 2500 -0.6501275  0.7598251 1

In [23]:
df[ (df['c3'] >=25) , ]

   c1 letras c3 c4   c5         c6         Unos
5   5 e      25  625  0.1760163 -0.9843873 1
6   6 f      30  900  0.9978033  0.0662467 1
7   7 g      35 1225 -0.2193370  0.9756492 1
8   8 h      40 1600 -0.8012248 -0.5983635 1
9   9 i      45 2025  0.9704917 -0.2411346 1
10 10 j      50 2500 -0.6501275  0.7598251 1