# Tratamiento de valores nulos

In [1]:
df <- read.csv(file = 'data/some_nulls.csv')
df

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 NA     NA  NA 3.90    NA 16.46  0  1  4    4
2    NA  6  160.0  NA 3.90 2.875 17.02  0  1  4    4
3  22.8 NA     NA  93 3.85 2.320 18.61  1  1  4    1
4    NA  6     NA 110 3.08 3.215 19.44  1  0  3    1
5    NA  8  360.0 175 3.15 3.440 17.02  0  0  3    2
6  18.1  6  225.0 105   NA 3.460 20.22  1  0  3    1
7  14.3  8  360.0 245 3.21 3.570 15.84  0  0  3    4
8  24.4  4  146.7  62 3.69 3.190 20.00  1  0  4    2
9  22.8 NA  140.8  NA 3.92 3.150 22.90  1  0  4    2
10   NA NA  167.6 123 3.92 3.440 18.30  1  0  4    4
11   NA  6  167.6 123 3.92 3.440 18.90  1 NA  4   NA
12 16.4  8  275.8  NA   NA    NA    NA NA NA  3    3
13 17.3  8  275.8 180   NA 3.730 17.60  0  0 NA   NA
14 15.2  8  275.8 180 3.07    NA 18.00  0  0  3    3

In [2]:
# Extraemos el tipo del objeto:
class(df)

[1] "data.frame"

In [3]:
# Detección de registros vacíos
# Regresa "TRUE" donde hay campos vacíos
is.na(df)

      mpg   cyl   disp  hp    drat  wt    qsec  vs    am    gear  carb
 [1,] FALSE  TRUE  TRUE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE
 [2,]  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [3,] FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [4,]  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [5,]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [6,] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE
 [7,] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [8,] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [9,] FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[10,]  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[11,]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE
[12,] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE
[13,] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE  TRUE  TRUE
[14,] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE

In [4]:
# Verificamos los registros vacíos en una columna dada:
is.na(df['cyl'])

      cyl
 [1,]  TRUE
 [2,] FALSE
 [3,]  TRUE
 [4,] FALSE
 [5,] FALSE
 [6,] FALSE
 [7,] FALSE
 [8,] FALSE
 [9,]  TRUE
[10,]  TRUE
[11,] FALSE
[12,] FALSE
[13,] FALSE
[14,] FALSE

In [5]:
# Verificamos los registros vacíos en una columna dada:
is.na(df$cyl)

 [1]  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE
[13] FALSE FALSE

In [6]:
# Verificamos los registros vacíos en una columna dada:
is.na(df[,'cyl'])

 [1]  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE
[13] FALSE FALSE

In [7]:
# Verificamos los registros vacíos en una columna dada:
is.na(df)[,'cyl']

 [1]  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE
[13] FALSE FALSE

In [8]:
# Extraemos los registros donde una columna dada es nula (en forma de matriz):
df[is.na(df$cyl),]

   mpg  cyl disp  hp  drat wt   qsec  vs am gear carb
1  21.0 NA     NA  NA 3.90   NA 16.46 0  1  4    4
3  22.8 NA     NA  93 3.85 2.32 18.61 1  1  4    1
9  22.8 NA  140.8  NA 3.92 3.15 22.90 1  0  4    2
10   NA NA  167.6 123 3.92 3.44 18.30 1  0  4    4

In [9]:
# Extraemos los registros donde una columna dada es no nula (en forma de matriz):
df[!is.na(df$cyl),]

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
2    NA 6   160.0  NA 3.90 2.875 17.02  0  1  4    4
4    NA 6      NA 110 3.08 3.215 19.44  1  0  3    1
5    NA 8   360.0 175 3.15 3.440 17.02  0  0  3    2
6  18.1 6   225.0 105   NA 3.460 20.22  1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84  0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00  1  0  4    2
11   NA 6   167.6 123 3.92 3.440 18.90  1 NA  4   NA
12 16.4 8   275.8  NA   NA    NA    NA NA NA  3    3
13 17.3 8   275.8 180   NA 3.730 17.60  0  0 NA   NA
14 15.2 8   275.8 180 3.07    NA 18.00  0  0  3    3

In [10]:
# Extraemos los valores no nulos de una columna dada:
df$cyl[!is.na(df$cyl)]

 [1] 6 6 8 6 8 4 6 8 8 8

In [11]:
# Extraemos la media de los valores no nulos de una columna dada:
mu_cyl <- mean(df$cyl[!is.na(df$cyl)])
mu_cyl

[1] 6.8

In [12]:
# Extraemos los valores no nulos de una columna dada
df$carb[!is.na(df$carb)]

 [1] 4 4 1 1 2 1 4 2 2 4 3 3

In [13]:
# Extraemos la media de los valores no nulos de una columna dada:
mu_carb <- mean(df$carb[!is.na(df$carb)])
mu_carb

[1] 2.583333

In [14]:
# Extraemos los valores de la columna "carb" donde "cyl" es no nula:
df$carb[!is.na(df$cyl)]

 [1]  4  1  2  1  4  2 NA  3 NA  3

In [15]:
# Extraemos los registros de dos columnas donde una de ellas es no nula (en forma de matriz):
df[!is.na(df$cyl),][c('cyl','carb')]

   cyl carb
2  6    4
4  6    1
5  8    2
6  6    1
7  8    4
8  4    2
11 6   NA
12 8    3
13 8   NA
14 8    3

In [16]:
# Extraemos los registros de dos columnas donde una de ellas es no nula (en forma de matriz):
df[c('cyl','carb')][!is.na(df$cyl),]

   cyl carb
2  6    4
4  6    1
5  8    2
6  6    1
7  8    4
8  4    2
11 6   NA
12 8    3
13 8   NA
14 8    3

In [17]:
# Extraemos los valores no nulos de una columna dada (en forma de matriz):
df[!is.na(df$cyl),]['cyl']

   cyl
2  6
4  6
5  8
6  6
7  8
8  4
11 6
12 8
13 8
14 8

In [18]:
# Extraemos los registros donde una columna dada es no nula (en forma de matriz):
df[!is.na(df$cyl),]

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
2    NA 6   160.0  NA 3.90 2.875 17.02  0  1  4    4
4    NA 6      NA 110 3.08 3.215 19.44  1  0  3    1
5    NA 8   360.0 175 3.15 3.440 17.02  0  0  3    2
6  18.1 6   225.0 105   NA 3.460 20.22  1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84  0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00  1  0  4    2
11   NA 6   167.6 123 3.92 3.440 18.90  1 NA  4   NA
12 16.4 8   275.8  NA   NA    NA    NA NA NA  3    3
13 17.3 8   275.8 180   NA 3.730 17.60  0  0 NA   NA
14 15.2 8   275.8 180 3.07    NA 18.00  0  0  3    3

In [19]:
print(mu_cyl)
print(mu_carb)

[1] 6.8
[1] 2.583333

In [21]:
# Reemplazamos los valores nulos de una columna por su promedio:
df$cyl[is.na(df$cyl)] <- mu_cyl
df$carb[is.na(df$carb)] <- mu_carb

In [22]:
# Extraemos los registros donde una columna dada es no nula (en forma de matriz):
df[c('cyl','carb')]

   cyl carb
1  6.8 4.000000
2  6.0 4.000000
3  6.8 1.000000
4  6.0 1.000000
5  8.0 2.000000
6  6.0 1.000000
7  8.0 4.000000
8  4.0 2.000000
9  6.8 2.000000
10 6.8 4.000000
11 6.0 2.583333
12 8.0 3.000000
13 8.0 2.583333
14 8.0 3.000000

In [23]:
# Verificamos si hay registros vacíos en una columna dada:
any(is.na(df$cyl))

[1] FALSE

In [25]:
is.na(df$cyl)

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE

In [24]:
# Verificamos cuántos registros vacíos hay en un columna dada:
n_nulls_cyl <- sum(is.na(df$cyl))
n_nulls_cyl

[1] 0

In [26]:
# Verificamos cuántos registros no vacíos hay en un columna dada:
n_not_nulls_cyl <- sum(!is.na(df$cyl))
n_not_nulls_cyl

[1] 14

In [27]:
# Número de elementos en una columna dada:
l1 <- length(df$cyl)
l2 <- n_nulls_cyl + n_not_nulls_cyl

print(l1)
print(l2)

[1] 14
[1] 14

In [28]:
# Verificar si existe algún registro vacío en todo el DataFrame:
any( is.na(df) )

[1] TRUE

In [29]:
# Numero de registros vacíos en todo el DataFrame:
n_nulls_df <- sum( is.na(df) )
n_nulls_df

[1] 23

In [30]:
# Número de registros no vacíos en todo el DataFrame:
n_not_nulls_df <- sum( !is.na(df) )
n_not_nulls_df

[1] 131

In [31]:
# Números de renglones y columnas del DataFrame:
dim(df)

[1] 14 11

In [32]:
# Número de entradas del DataFrame:
d1 <- prod( dim(df) )
d2 <- n_nulls_df + n_not_nulls_df

print(d1)
print(d2)

[1] 154
[1] 154

In [33]:
# Asignamos 0 en los campos nulos de todo el DataFrame:
df[ is.na(df) ] <- 0

df

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6.8   0.0   0 3.90 0.000 16.46 0  1  4    4.000000
2   0.0 6.0 160.0   0 3.90 2.875 17.02 0  1  4    4.000000
3  22.8 6.8   0.0  93 3.85 2.320 18.61 1  1  4    1.000000
4   0.0 6.0   0.0 110 3.08 3.215 19.44 1  0  3    1.000000
5   0.0 8.0 360.0 175 3.15 3.440 17.02 0  0  3    2.000000
6  18.1 6.0 225.0 105 0.00 3.460 20.22 1  0  3    1.000000
7  14.3 8.0 360.0 245 3.21 3.570 15.84 0  0  3    4.000000
8  24.4 4.0 146.7  62 3.69 3.190 20.00 1  0  4    2.000000
9  22.8 6.8 140.8   0 3.92 3.150 22.90 1  0  4    2.000000
10  0.0 6.8 167.6 123 3.92 3.440 18.30 1  0  4    4.000000
11  0.0 6.0 167.6 123 3.92 3.440 18.90 1  0  4    2.583333
12 16.4 8.0 275.8   0 0.00 0.000  0.00 0  0  3    3.000000
13 17.3 8.0 275.8 180 0.00 3.730 17.60 0  0  0    2.583333
14 15.2 8.0 275.8 180 3.07 0.000 18.00 0  0  3    3.000000